# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
*.pdf
/logs/*

# Sublime Editor
.sublime-project
*.sublime-project
*.sublime-workspace

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
